<%= link_to "People App", people_path %>

<p id="notice"><%= notice %></p>

<h2>People</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person, method: :get %></td>
        <td><%= person.email %></td>
        <td><%= person.bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Person', new_person_path, method: :get %>

