<%= link_to "People App", people_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @person.bio %>
</p>

<ul>
  <li><%= link_to 'Posts', person_posts_path(@person), method: :get %></li>
  <li><%= link_to 'Edit', edit_person_path(@person), method: :get %></li>
  <li id="backLink">Back</li>
</ul>
