<%= link_to "People App", people_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @post.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<ul>
  <li><%= link_to 'Edit', edit_person_post_path(@person, @post), method: :get %></li>
  <li><%= link_to 'Author', person_path(@person), method: :get %></li>
  <li><%= link_to 'Delete', person_post_path(@person, @post), method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <li id="backLink">Back</li>
</ul>